<div class="main-login">
  <div class="left-login">
      <img src="assets/logo.svg" class="left-login-image" alt="logo">
  </div>
  <div class="right-login">
      <div class="card-login">
          <div class="card-header">
              <span>Faça o Login para acessar sua conta</span>
              Informe seu email e senha
          </div>
          <div class="textfield">
              <input type="text" name="usuario" placeholder="Email">
          </div>
          <div class="textfield">
              <input type="password" name="senha" placeholder="Senha">
          </div>
          <button type="button" routerLink="token" class="btn-login">Entrar</button>
      </div>
  </div>
</div>
