<div class="main-login">
  <div class="left-login">
      <img src="assets/logo.svg" class="left-login-image" alt="logo">
  </div>
  <div class="right-login">
      <div class="link-voltar">
          <a routerLink="">< Voltar para Login</a>
      </div>
      <div class="card-login">
          <div class="card-header">
              <span>Valide seu acesso inserindo o código</span>
              Enviamos um código para seu email
          </div>
          <div class="textfield">
              <input type="text">
              <input type="text">
              <input type="text">
              <input type="text">
              <input type="text">
              <input type="text">
          </div>

          <div class="card-bottom">
              <span>O código é válido por 5 minutos</span>
          </div>

          <button routerLink="/ativos" class="btn-login">Entrar</button>
      </div>
  </div>
</div>
